:root{
    --very-dark-greyish-blue: oklch(44.78% 0.038 259.84);
    --desaturated-Dark-Blue: oklch(59.12% 0.043 255.24);
    --greyish-blue: oklch(59.12% 0.043 255.24);
    --light-greyish-blue: oklch(95.92% 0.0223 247.93);
    --shadow-color: oklch(86.75% 0.021 248.07 / .5);
    --white: oklch(100% 0 0);
}