@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
    --font-family: "Manrope", sans-serif;
    --heading: 700 1.25rem/1.75 var(--font-family);
    --heading-spacing: 0.016rem;
    --body: 500 0.813rem/1.25rem var(--font-family);
    --body-spacing: 0.008rem;
    --body-bold: 700 0.813rem/1.25rem var(--font-family);
    --body-bold-spacing: 0.008rem;
}
